.projectEdit {
    background-color: #fff;
    padding: 24px;
    color: #111;
    position: relative;
    .center {
        display: flex;
        border: 1px solid #111;
        padding: 12px 24px;
        margin-top: 10px;
        .drag {
            flex: 1;
        }
        .edit {
            width: 400px;
            border: 1px solid #111;
            padding: 8px 16px;
        }
    }
}